{% extends 'polls/layout.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <h2 class="title is-2">All polls</h2>
    <div class="content">
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>

{% endblock %}
